# Reveiwing Merges & Databases

In [1]:
import pandas as pd

In [2]:
pd.merge?

If `weather_df` has a row for every date in the past 100 years, a column named `date` and columns for the weather that day and `birthdays_df` has a row for each member of the CS department with a column `birthdate` and a second column name, how would you merge these two datasets to find out the weather on the day each person was born?



complete the following line:

```
bday_weather = pd.merge(left= weather_df, right = birthdays_df, 
                        left_on = 'date', right_on ='birthdate', how= 'inner')
```


TODO: add images

In [3]:
import sqlite3

In [4]:
conn = sqlite3.connect('nba1819.db')

In [5]:
conn

In [6]:
cursor = conn.cursor()

In [7]:
cursor.execute('SELECT name FROM sqlite_master WHERE type="table"')

In [8]:
cursor.fetchall()

[]

In [9]:
pd.read_sql('SELECT PLAYER_ID, PLAYER_NAME FROM playerNames',conn).head(1)

DatabaseError: Execution failed on sql 'SELECT PLAYER_ID, PLAYER_NAME FROM playerNames': no such table: playerNames

In [10]:
pd.read_sql('SELECT * FROM playerNames LIMIT 5',conn)

DatabaseError: Execution failed on sql 'SELECT * FROM playerNames LIMIT 5': no such table: playerNames

In [11]:
teams_df = pd.read_sql('SELECT * FROM teams',conn)
teams_df.head()

DatabaseError: Execution failed on sql 'SELECT * FROM teams': no such table: teams

In [12]:
teams_df.shape

NameError: name 'teams_df' is not defined