# Reveiwing Merges & Databases

In [1]:
import pandas as pd

In [2]:
pd.merge?

If `weather_df` has a row for every date in the past 100 years, a column named `date` and columns for the weather that day and `birthdays_df` has a row for each member of the CS department with a column `birthdate` and a second column name, how would you merge these two datasets to find out the weather on the day each person was born?


```
bday_weather = pd.merge(left= weather_df, right = birthdays_df,
                        left_on = 'date', right_on ='birthdate', how= 'inner')
```

<!--
TODO: add images -->

## Working with Databases

Off the shelf, pandas cannot read databased by default. We'll use the [`sqlite3`](https://docs.python.org/3/library/sqlite3.html) library.
````{margin}
```{note}
[SQLite](https://www.sqlite.org/index.html) is a type of database.
```
````

In [3]:
import sqlite3

First, we set up a connection, that links the the notebook to the databse.

In [4]:
conn = sqlite3.connect('data/nba1819.db')

OperationalError: unable to open database file

In [5]:
conn

NameError: name 'conn' is not defined

To use it, we add a cursor.

In [6]:
cursor = conn.cursor()

NameError: name 'conn' is not defined

We can use execute to pass SQL queries through the cursor to the database.

In [7]:
cursor.execute('SELECT name FROM sqlite_master WHERE type="table"')

NameError: name 'cursor' is not defined

Then we use `fetchall` to get the the results of the query.

In [8]:
cursor.fetchall()

NameError: name 'cursor' is not defined

We can also pass queries to the database through pandas and then get it returned as a DataFrame.

In [9]:
pd.read_sql('SELECT PLAYER_ID, PLAYER_NAME FROM playerNames',conn).head(1)

NameError: name 'conn' is not defined

We can use `*` to get all of the columns and `LIMIT` to reduce the number of rows.

In [10]:
pd.read_sql('SELECT * FROM playerNames LIMIT 5',conn)

NameError: name 'conn' is not defined

How can get all of the data from the teams table?

In [11]:
teams_df = pd.read_sql('SELECT * FROM teams',conn)
teams_df.head()

NameError: name 'conn' is not defined

<!--
```{code-cell} ipython3

``` -->

<!-- ## More practice

TBD -->