# Cheatsheet

Patterns and examples of how to use common tips in class


## Axes

In [1]:
import pandas as pd

First build a small dataset that's just enough to display

In [2]:
data = [[1,0],[5,4],[1,4]]
df = pd.DataFrame(data = data,
  columns = ['A','B'])

df

   A  B
0  1  0
1  5  4
2  1  4

In [3]:
df.sum(axis=0)

A    7
B    8
dtype: int64

In [4]:
df.sum(axis=1)

0    1
1    9
2    5
dtype: int64

In [5]:
df.apply(sum,axis=0)

A    7
B    8
dtype: int64

In [6]:
df.apply(sum,axis=1)

0    1
1    9
2    5
dtype: int64

In [7]:
df['A'][1]

5

In [8]:
df.iloc[0][1]

0